---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <title>Projects</title>
    </head>
    <body>
        <div class="flex items-center justify-center">
          <div class="h-[100px] w-[500px]">
            <div class="border-4 shadow-lg">
              <div class="bg-blue-600">
                <ul class="gap- flex h-screen w-full flex-col items-center justify-center gap-14">
                  <h1 class="text-6xl font-bold text-yellow-300 underline">Projects</h1>
                  <div class="flex flex-col gap-5">
                    <li>
                      <a href="https://github.com/Sridharan237/TalktoMax.git">
                        <h4 id="title1" class="text-4xl text-orange-400">Talk To Max</h4>
                        <p id="date1" class="text-4xl text-orange-400">Jul 22 2023</p>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/Sridharan237/Pet-Adoption-System.git">
                        <h4 id="title1" class="text-white text-4xl">Pet Adoption System</h4>
                        <p id="date1" class="text-white text-4xl">Dec 08 2023</p>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/Sridharan237/Pet-Adoption-System.git">
                        <h4 id="title2" class="text-4xl text-green-400">Game Experience App</h4>
                        <p id="date2" class="text-4xl text-green-400">Mar 14 2023</p>
                      </a>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
